@model PrimeEwsi.Models.PackModel

@{
    ViewBag.Title = "Download the full pack";
}

<script>

  

</script>
<h2>Create pack</h2>

@if (!string.IsNullOrEmpty(Model.SendModel?.Result))
{
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @Model.SendModel.Result
    </div>
}



<div class="panel panel-primary" style="width: 70%; margin-top: 20px">
    
    <div class="panel-heading">
        <h3 class="panel-title">Add Pack</h3>
    </div>

    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()

            <table>
                <tr>
                    <td>
                        <div class="ComponentPack">
                            <div class="form-group">
                                <label for="usr">Teets</label>

                                <table>
                                    <tr>
                                        <td><input class="form-control" id="Teets" name="Teets" type="text" value="" /></td>
                                        <td><i style="margin-left: 5px" class="fa fa-trash-o fw" onclick='UpdateText("Teets", "")' aria-hidden="true"></i></td>
                                    </tr>
                                </table>
                               
                                  
                             
                                
                               
                            </div>

                         

                       


                          
                            @foreach (var pack in @Model.HistoryPackCollection.OrderByDescending(p => p.Id).GroupBy(m => m.Teets).Take(2))
                            {
                                foreach (var s in pack.Key.Split(','))
                                {
                                    <a href="#" onclick='AddText("Teets", "@s")'>@s</a>
                                }

                            }

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ComponentPack">
                            <div class="dropdown">
                                <div class="form-group">
                                    <label for="usr">Component</label>

                                    <table>
                                        <tr>
                                            <td><input class="form-control" id="Component" name="Component" type="text" value="" /></td>
                                            <td>
                                                <button style="margin-left: 5px" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Components
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#" onclick='UpdateText("Component", "PRIME_baza_wbk20")'>WBK20</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" onclick='UpdateText("Component", "PRIME_baza_addon_live")'>AddonLive</a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>

                                   
                                </div>

                               
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ComponentPack">
                            <div class="form-group">
                                <label for="usr">Projects</label>

                                <table>
                                    <tr>
                                        <td><input class="form-control" id="ProjectId" name="ProjectId" type="text" value="" /></td>
                                        <td><i style="margin-left: 5px" class="fa fa-trash-o fw" onclick='UpdateText("ProjectId", "")' aria-hidden="true"></i></td>
                                    </tr>
                                </table>


                                
                            </div>

                            @foreach (var pack in @Model.HistoryPackCollection.OrderByDescending(p => p.Id).GroupBy(m=>m.Projects).Take(2))
                            {
                                <a href="#" onclick='AddText("ProjectId", "@pack.Key")'>@pack.Key</a>
                            }
                        </div>
                    </td>
      
                </tr>
            <tr>
                <td>
                   <div class="ComponentPack">

                        <div class="dropdown">
                            <div class="form-group">
                                <label for="usr">Environment</label>

                                <table>
                                    <tr>
                                        <td><input class="form-control" id="TestEnvironment" name="TestEnvironment" type="text" value="" /></td>
                                        <td>
                                            <button style="margin-left: 5px" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                Environment
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" onclick='UpdateText("TestEnvironment", "ZT001 - POZPP07" )'>ZT001</a>
                                                </li>
                                                <li>
                                                    <a href="#" onclick='UpdateText("TestEnvironment", "ZT002 - POZST04")'>ZT002</a>
                                                </li>
                                                <li>
                                                    <a href="#" onclick='UpdateText("TestEnvironment", "ZT004 - POZST04")'>ZT004</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>

                                
                            </div>
                            
                        </div>
                    </div>
                </td>
            </tr>

                <tr>
                    <td>
                        <div class="ComponentPack">
                            <div class="form-group">
                                <label for="usr">SVN Files</label>

                                <div id="files">

                                </div>

                                <input style="margin-top: 10px" class="form-control" id="FilesInput" name="FilesInput" type="text" value="" />
                            </div>

                           
                            <i class="fa fa-trash-o fw" onclick='UpdateInnerHTML("files")' aria-hidden="true"></i> <a href="#" onclick='AddFile()'> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add</a>
                        </div>
                    </td>

                </tr>

            </table>

            <button name="action:Download" type="submit" class="btn btn-primary">Download</button>
            <button name="action:Send" type="submit" class="btn btn-primary">Create IVEC</button>

          

        }
    </div>
</div>