@model PrimeEwsi.Models.UserModel

@{
    ViewBag.Title = "title";
   }

 <div class="panel panel-primary" style="width: 50%; margin-top: 20px">
    <div class="panel-heading">
        <h3 class="panel-title">Add new user profile</h3>
    </div>
    <div class="panel-body">
        
        @using (Html.BeginForm("Add", "Register"))
        {
            @Html.ValidationSummary()

            <p>Nick @Html.EditorFor(m => m.Name)</p>

            <p>Api Key @Html.EditorFor(m => m.ApiKey)</p> <a href="https://wro2096v.centrala.bzwbk:9999/artifactory/webapp/#/login" target="_blank">Get ApiKey</a>

            <p>SVN User Name @Html.EditorFor(m => m.SvnUser)</p>

            <p>SVN Password  @Html.EditorFor(m => m.SvnPassword)</p>

            <input type="submit" value="Add" />
        }
    </div>
</div>